*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}.template{
    width:  960px;
    margin: 0 auto;
}
.header_section{
    height: 200px;
    width: 100%;
    background-color: aqua;
}
.menu_section{
    height: 50px;
    width: 100%;
    background-color: grey;

}
.content_section{
    height:700px;
    width: 100%;
    background-color: midnightblue;

}
.footer_section{
    height: 70px;
    width: 100%;
    background-color:  #000;
    background-image: image-set();
    
}
.left_sidebar{
    width: 30%;
    height: 100%;
    background-color: slategrey;
    
}
.main_conten{
    width: 40%;
    height: 100%;
    background-color: rgb(16, 168, 31);
    float:left ;
    
    
}
.right_sidebar{
    width: 30%;
    height: 100%;
    background-color: slategrey;
    float: right;
    
}
.footer_section{
    height: 70px;
    width: 100%;
    background-color:  #000;
    background-image: image-set();
    float: left;
}
